* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  /* background-color: black;
  background-image: url('./galaxy-stars.png'); */
  background-color:#090b1a;
  height: 100vh;
}
  
/* Agregamos un estilo de cursor personalizado usando la propiedad "url" y proporcionando una imagen */


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
